before-sleep 'loginctl lock-session'
after-resume 'hyprctl dispatch dpms on'
timeout 150 'brightnessctl -s set 10' resume 'brightnessctl -r'
timeout 150 'brightnessctl -d tpacpi::kbd_backlight -s set 0' resume 'brightnessctl -d tpacpi::kbd_backlight -r'
timeout 300 'loginctl lock-session'
timeout 600 'hyprctl dispatch dpms off'

